/* UsuarioInformacion.css */
.usuario-informacion {
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    margin: 20px;
  }
  
  .titulo-usuario {
    color: #2b6014;
    border-bottom: 2px solid #abc52b;
    padding-bottom: 10px;
  }
  
  .contenido-adicional {
    background: #e9ffe9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }